@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f7f8f9;
    /* color: black; */
}

main{
    background: rgb(48,42,117);
  background: linear-gradient(250deg, rgba(48,42,117,1) 16%, rgba(10,10,10,1) 100%);
  }